@tailwind base;
@tailwind components;
@tailwind utilities;





@layer utilities {
  input:focus-visible {
    outline: none;
  }

  .custom_scroll {
    @apply overflow-y-auto;
    /* Apply Tailwind utilities for overflow */

    /* Custom Scrollbar Styles */
    ::-webkit-scrollbar {
      width: 5px;
      border-radius: 0px;
      /* Width of the scrollbar */
    }

    ::-webkit-scrollbar-track {
      @apply bg-gray-200;
      border-radius: 0px;
      /* Track background */
    }

    ::-webkit-scrollbar-thumb {
      @apply bg-gray-300;
      border-radius: 0px;
      /* Scrollbar thumb */
    }

    ::-webkit-scrollbar-thumb:hover {
      @apply bg-gray-400;
      /* Scrollbar thumb on hover */
    }
  }

  .text-balance {
    text-wrap: balance;
  }

  .chat_wrap {
    /* height: calc(100vh - 56px); */

  }

  .chat_container {
    /* height: 100%; */
    /* background-color: rgb(246, 253, 246); */
    /* display: flex; */
  }

  .lists {
    flex: 1;
    /* height: 100%; */
    /* display: flex; */
    /* flex-direction: column; */
  }

  .chat_lists {
    flex: 1;
    /* overflow-y: scroll; */

  }

  .chat {
    flex: 2;
    /* height: 100%; */
    /* display: flex; */
    /* flex-direction: column; */
  }


  .center {
    flex: 1;
    /* overflow-y: scroll; */

  }



  .bottom {
    /* margin-top: auto; */
  }

  .details {
    flex: 1;
  }

  .details_block {
    flex: 2;
  }

  .detailsActive {
    flex: 2;
    display: block;
  }

  .emoji {
    position: relative;
  }

  .emoji .picker {
    position: absolute;
    left: 0;
    bottom: 100%;
  }

  .mdx_editor_chat {
    background-color: rgb(205, 205, 205);
    border-radius: 8px;
    max-height: 120px;
    overflow-y: auto;

  }

  .mdx_editor_chat ._contentEditable_yms4a_379 {
    box-sizing: border-box;
    width: 100%;
    padding: 6px 10px;
  }


}